<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    
    <xacro:include filename="transmission_macros.xacro"/>

    <ros2_control name="smc_ros2_interface_diff_drive" type="system">

      <hardware>
        <plugin>smc_ros2_interface/SMCDriverHardware</plugin>
        <param name="motorA_wheel_name">left_wheel_joint</param>
        <param name="motorB_wheel_name">right_wheel_joint</param>
        <param name="port">/dev/ttyUSB0</param>
        <!-- <param name="port">/dev/serial/by-path/pci-0000:00:14.0-usb-0:1.4:1.0-port0</param> -->
      </hardware>

        <xacro:insert_wheel_transmission joint_name="left_wheel_joint"/>
        <xacro:insert_wheel_transmission joint_name="right_wheel_joint"/>

    </ros2_control>


</robot>